[submodule "tracing-spec-retriever-jaeger/jaeger-idl"]
	path = tracing-spec-retriever-jaeger/jaeger-idl
	url = https://github.com/jaegertracing/jaeger-idl.git
[submodule "tracing-spec-retriever-zipkin/zipkin-api"]
	path = tracing-spec-retriever-zipkin/zipkin-api
	url = https://github.com/openzipkin/zipkin-api.git
