config.stopBubbling = true

# Add null annotations to generated code:
lombok.addNullAnnotations = javax

# Fix code coverage reports:
lombok.addLombokGeneratedAnnotation = true

# Fix Jackson's deserialization:
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.mockito.Mock

# It can break different libraties that rely on Java Beans Specification:
lombok.accessors.flagUsage = warning

# Use Slf4j only:
lombok.log.fieldname = log
lombok.log.apacheCommons.flagUsage = warning
lombok.log.flogger.flagUsage = warning
lombok.log.javaUtilLogging.flagUsage = warning
lombok.log.jbosslog.flagUsage = warning
lombok.log.log4j.flagUsage = warning
#lombok.log.log4j2.flagUsage = warning
lombok.log.slf4j.flagUsage = warning
lombok.log.xslf4j.flagUsage = warning

# Sometimes using UtilityClass annotation causes errors that are very hard to debug, so don't use it:
lombok.utilityClass.flagUsage = error
